



a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}


.fa-bars {
   /* display: none;  */
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}





/* stile contenuto hero */
.container > img {
    max-width: 200px;
}

.hero {
    text-align: center;
    background-color: darkkhaki;
    padding: 20px;
    width: 100%;    
}





/* stile contenuto portfolio */

.col-lg-4 > img {
    max-width: 100%;
    border-radius: 15px;
}

.portfolio {
    text-align: center;
}





/* stile about */























/* debug */

nav {
    min-height: 10px;
    background-color: violet;
}



.portfolio {
    background-color: darkorange;
}