



a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}


/* h2 {
    text-align: center;
} */



.fa-bars {
   /* display: none;  */
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}





/* stile contenuto hero */
.container > img {
    max-width: 200px;
 
}

.hero {
    text-align: center;
    background-color: darkkhaki;
    padding: 20px;
    width: 100%;    
}





/* stile contenuto portfolio */

.col-lg-4 > img {
    max-width: 100%;
    border-radius: 15px;
}

.portfolio {
    text-align: center;
}





/* stile about */

.about_center {
    text-align: center;
}

.about_center > button {
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 15px;
   
}







/* stile contact */



h5 {
    border-bottom: solid 1px black;
    padding: 20px;
}


#message {
    padding-bottom: 150px;
}


/* debug */

nav {
    min-height: 10px;
    background-color: violet;
}



.portfolio {
    background-color: darkorange;
}


.about {
    background-color: gold;
   min-height: 50px;
}




.contact {
    background-color: sienna;
    min-height: 50px;
}


footer {
    background-color: indianred;
    min-height: 50px;
}